@page "/"

<PageTitle>Home</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                        <h4>Advanced .NET Techniques</h4>
                        <p>Learn advanced concepts and best practices from industry experts.</p>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                        <h4>Join a Community</h4>
                        <p>Collaborate and grow with fellow learners in our supportive community.</p>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <h3>Master .NET Development</h3>
                <p>With our platform, you will gain the skills to build robust .NET applications and launch your career as a professional developer.</p>
                <div class="text-center">
                    <br />
                    <img src="images/dotnetthumb.png" alt="Learning" style="max-width: 100%; height: auto;" />
                </div>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>
